<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Highcharts Example</title>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript">
      
      
      $(document).ready(function() {
          var options = {
            chart: {
              renderTo: 'container',
              defaultSeriesType: 'spline',
              marginRight: 130,
              marginBottom: 25,
              
            },
            series: [{
              color: $scope.barcolor,
              data: []  
            }],


            title: {
              text: 'MongoDB test'
            },
     
             xAxis: {
                type: 'datetime',
                categories: []
            },
     
             yAxis: {
              text: 'value'
            },

            series: []

          }
          
          $.getJSON('connect.php', function (longterm) {
            options.series.push({
               name: 'longterm',
               data: longterm
         });
          chart = new Highcharts.Chart(options);
       });
       });
   </script>
</head>
<body>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>

   </body>
</html>